:root {
    --interface: #F7C6D7;
    --interface-dark: #F1A7C1;
    --emphasis: #F68B91;
    --background-light: #fff;
    --background-dark: #F1D0C6;
    --font: aliceblue;
    --font-inverted: #9B3D57;
    --font-size-large: 40px;
    --font-size-medium: 28px;
    --font-size: 18px;
    --font-size-small: 12px;
}

* {
    font-family: roboto;
    box-sizing: border-box;
    background-color: var(--background-light);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
}

.header {
    border: 2px solid var(--emphasis);
    background-color: var(--interface-dark);
    color: var(--font);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: var(--emphasis);
    border-radius: 40px;
    border: 1px solid var(--emphasis);
}

#page-head {
    background-color: var(--interface-dark);
    color: var(--font);
    font-size: var(--font-size-large);
    font-style: italic;
    font-weight: bolder;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-list-container {
    display: flex;
    justify-content: center;
    width: 1000px;
    background-color: var(--background-dark);
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px;
}

.link-list-item {
    width: 250px;
    height: 250px;
    border: 2px solid var(--emphasis);
    border-radius: 25px;
    background-color: var(--interface);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-list-item > a {
    background-color: var(--interface);
    color: var(--font);
    font-size: var(--font-size-medium);
}

a {
    text-decoration: none;
}

.flavour-text {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: aliceblue;
}

.recipe {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-dark);
}

.recipe-header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--interface);
    padding: 5px;
}

.image-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: var(--interface);
}

/*.image-caption > h2 {
    font-size: var(--font-size-medium);
    color: var(--font);
    background-color: var(--interface);
}*/

.image-caption > p {
    font-size: var(--font-size);
    color: var(--font);
    background-color: var(--interface);
}

.recipe-header > img {
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

.recipe-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--background-dark);
    padding: 25px;
}

.recipe-list {
    background-color: var(--background-dark);
    color: var(--font-inverted);
    font-size: var(--font-size);
}

li {
    background-color: var(--background-dark);
    columns: var(--font);
}

.back-link {
    background-color: var(--emphasis);
    border-radius: 12px;
    height: 50px;
    width: fit-content;
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--font);
    text-align: center;
    padding: 15px;
    font-style:italic ;
}

.footer {
    margin: 0 auto 25px auto;
}