* {
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-weight: bolder;
    box-sizing: border-box;
    text-align: center;
    border: 10px, purple;
}

a {
    font-size: 28px;
    background-color: aliceblue;
    color: rebeccapurple;
}

li {
    color: rebeccapurple;
    background-color: aliceblue;
}

ul {
    background-color: aliceblue;
}

h1 {
    font-size: 32px;
    background-color: aliceblue;
    color: rebeccapurple
}

div {
    background-color: aliceblue;
    width: 1000px;
    height: 300px;
    margin: auto;
    border: 20px,  rgb(215, 160, 255);
    padding: 75px;
    margin-top: 50px;
}